#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}
a {
    color: blue;
    text-decoration: none;
}
h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 10px;
}
ol {
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
    padding: 20px;
}
@media(max-width:600px) {
    #grid {
        display: block;
    }
    ol {
        border-right: none;
    }
    h1 {
        border-bottom: none;
    }
}
